<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
  	<!-- 리스트가 비어있는지 확인한다. -->
  	<% if @user.microposts.any? %>
  		<!-- 현재 count를 보여준다. -->
  		<h3>Microposts (<%= @user.microposts.count %>)</h3>
  		<ol class="microposts">
  			<%= render @microposts %> 
  		</ol>
  		<!-- will_paginate는 @users 인스턴스 변수가 있음을 가정한다. 
  			user controller에 있어서..
  			 여기서는 @microposts에 대한 것이니깐 명시해주자. -->
  		<%= will_paginate @microposts %> 
  	<%end%>
  </div>
</div>